.header{
    display: flex;
    justify-content: space-between;
}

.nav-item >ul{
    display: flex;
    padding: 10px;
}

.nav-item >ul >li{
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
.logo{
    width:80px;
}

.bodyContainer{
    padding: 10px;
    
}

.search{
    padding: 10px;
}
.restoContainer{
    display: flex;
    flex-wrap: wrap;
}

.cardContainer{
    margin: 5px;
    width: 208px;
    height: 320px;
    border-radius: 15px;
    background-color: #80808017;
}
.cardContainer:hover{
    cursor: pointer;
    transform: scale(0.95,0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}

.cardImg{
    width: 90%;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    position: relative;
}

.restoName{
    margin: 0px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardDetails{
    padding: 10px;
}

.starRating{
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    gap: 2px;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    justify-content: start;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
}

.cuisine{
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
}

.top-btn{
    margin: 10px;
}

.shimmer-card{
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: rgb(239, 243, 243);
}

.shimmer-container {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

.login-btn{
    cursor: pointer;
}

.filter{
    display: flex;
   
}

.serach-container{
    margin: 10px;
}

.search-btn{
    margin:2px;
}

.hotelName{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-bottom: 8px;
}

.hotelMenu{
    position: relative;
    margin: 24px 16px 16px 16px;
}

.hotelSubmenu{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: none;
    outline: 0;
}

.menuDetails{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}

.linkUrl{
    text-decoration: none;
    color: black;
}

.menuImg{
    width: 125px;
    margin: 20px;
    border-radius: 20px;
}

.userCard{
    background: #fff;
    border: 1px solid #02060c26;
    border-radius: 20px;
    box-shadow:  4px 2px #0000000a;
    margin: 10px;
    padding: 10px;
}