.header{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.nav-item >ul{
    display: flex;
    padding: 10px;
}

.nav-item >ul >li{
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
.logo{
    width:100px;
}

.bodyContainer{
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0 0 0;
}

.search{
    padding: 10px;
}
.restoContainer{
    display: flex;
    flex-wrap: wrap;
}

.cardContainer{
    margin: 5px;
    width: 208px;
    background-color: #80808017;
}
.cardContainer:hover{
    cursor: pointer;
    transform: scale(0.95,0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}

.cardImg{
    width: 90%;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    position: relative;
}

.restoName{
    margin: 0px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cardDetails{
    padding: 10px;
}

.starRating{
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    gap: 2px;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    justify-content: start;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
}

.cuisine{
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
}

.top-btn{
    margin: 10px;
}